.p-datatable .p-datatable-thead > tr > th {
  color: white !important;
  background: #827f7f !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0 !important;
  border: 1px solid gray !important;
}