
.p-tabview .p-tabview-nav li .p-tabview-nav-link{
    background-color: #e8e5e5 !important;
    color: black !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    background-color: #483c3c !important;
    color : white !important
}