$light-primary-color: #a26360;
$light-primary-mid-color: #d4a29c;
$light-primary-low-color: #e8b298;
$light-warn-color: #e8b298;
$light-sucess-mid-color: #bdd1c5;
$light-sucess-color: #9daaa2;
$light-text-color: #ffffff;
$light-bg-color: #bebbb8;

$font-family: "Roboto", sans-serif;